<div class="login-container">
    <div class="login-card">
      <div class="login-header">
        <h2>Welcome </h2>
        <p>Please enter your credentials to login</p>
      </div>
  
      <form class="login-form" [formGroup]="registerform" (ngSubmit)="proceedregister()">

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" placeholder="Username" formControlName="username">
          </div>

        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="text" placeholder="Email" formControlName="email">
        </div>
  
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" placeholder="Password" formControlName="password">
        </div>
  
        <button type="submit" class="login-button">
          Sign In
        </button>
      </form>
  
      <div class="signup-link">
        Do you have an account? <a routerLink="/login" routerLinkActive="router-link-active" >Log in</a>
      </div>
    </div>
  </div>