.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .btn-add {
    display: inline-block;
    background: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin-bottom: 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .post {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .actions {
    margin-top: 10px;

  }
  
  .btn-edit {
    background: #2196F3;
    color: white;
    padding: 5px 10px;
    border: none;
    text-decoration: none;
    border-radius: 3px;
    cursor:pointer ;
  }
  
  .btn-delete {
    background: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .btn{
    background: #3e8759;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

  }